.icon-left {
  position: absolute;
  top: 35px;
  left: 35px;
  -webkit-animation: spin 3s linear infinite;
  -moz-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

.icon-right {
  position: absolute;
  bottom: 35px;
  right: 35px;
  -webkit-animation: spin 3s linear infinite;
  -moz-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.season-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.season-display h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.6rem;
}

.winter {
  background-color: rgb(204, 241, 226);
}

.summer {
  background-color: rgb(248, 241, 138);
}

.season-display.winter i {
  color: rgb(74, 202, 202);
}

.season-display.summer i {
  color: rgb(250, 131, 19);
}
